.playground{

  width: 100%;
  
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  padding-left: 0px;
  overflow: hidden;

}

.babypics{
  margin-bottom: 2vh;
  height: 18rem;
  border-radius: 10%;
  }
